---
title: "Homepage"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/codesplash.jpg
  cta_label: "About"
  cta_url: "/about/"
  caption: # "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Statistics/Functional Programming/Data Science"
intro: 
  - excerpt: "Recently, I've been thinking about..."
feature_row:
  - image_path: assets/images/slicesampling.png
    alt: "placeholder image 1"
    title: "Slice Sampling"
    excerpt: "A purely functional implementation of Slice Sampling in Julia"
    url: "/julia/slice-sampling/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/dp.png
    alt: "Dirichlet Process"
    title: "Diriclet Processes"
    excerpt: "Julia implementation of DP"
    url: "/clojure/clojure-workflow/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/mala.png
    alt: "MALA"
    title: "MALA"
    excerpt: "Metropolis Adjusted Langevin Algorithm in Julia"
    url: "/julia/mala-metropolis-adjusted-langevin-algorithm-julia/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

